@zhijianren:registry=https://registry.npmjs.org/
//registry.npmjs.org/:username=zhijianren
//registry.npmjs.org/:email=1203282739@qq.com
//registry.npmjs.org/:always-auth=true
//registry.npmjs.org/:_authToken=fd553522-2f4e-4395-88ad-5e43a8b8def1